
nav{
    background: #095c91;    
  }  
  
  nav ul li.nav-item  a{
    color: #fff; 
    padding: 10px 25px;
  }
  
  ul li.nav-item  a:hover{
    background: red;  
  }
  
   /* toggle bar styles */
   .navbar-toggler.nav-toggle-btn {
    background: #159fdb;
    padding: 10px 10px 5px 10px;
    border: none;
    outline: unset;
    border-radius: 0px;
    transition: unset;
    transform: unset;
   }
   
   .navbar-toggler.nav-toggle-btn:focus {
    border: none;
    outline: none;
   }   
   .navbar-toggler.nav-toggle-btn > .bar-line {
    width: 30px;
    height: 6px;
    margin-bottom: 3px;
    background-color: #000;
   }