/* stylinng for top-banner-slideshow */

.top-banner-slideshow{
    transform: translateY(-55px);
    position: relative;
 }
 .top-banner-slideshow img{
  object-fit: cover;
  width:100%;
  object-position: center;
  height: 650px;    
 }


 .top-banner-slideshow #letTopInSlide{
  
  position: absolute;
  border-radius: 50%;
  border: 10px solid #095c91;
  height: 250px;
  width: 33em;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  left:20em;
  top: 7em;
  

 }


 .top-banner-slideshow #rightBottomInSlide{
  position: absolute;
  border: 8px solid #fff;
  height: 170px;
  width: 31em;
  z-index: 2;
  background: #095c91;
  padding: 30px 0 0 10px;
  bottom: 2em;
  right: 22em;   
  
}