.top-banner-image{  
    background-image: url("../../assets/Images/blog_images/menu-banner-img1.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: top right;
    
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -54px;
    }

    .blog-page .blog-wrapper{
      width:60%;
      margin-left:10%;
    }
  
  .top-banner-image>p{
    font-size: 40px;
    font-family: Raleway;
    color: #fff;
    font-weight: 500;
    z-index: 2;
  }
  
  .blog-page .card{
    width:350px;  
  }