@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

  /*  my styles for created components*/
  @import url('../src/components/menu/menu.css');
  @import url('../src/components/reusables-components/resusables.css');
  @import url('../src/components/blog/blog.css');
  @import url('../src/components/home/home_pages.css');
  @import url('../src/components/bnb_and_trip/contactus.css');
  @import url('../src/components/home/mainMenu.css');
  @import url('../src/components/home/footer.css');
  @import url('../src/components/blog/search-blog.css');
  @import url('../src/components/home/special-perks.css');
  @import url('../src/components/home/top-banner-slideshow.css');
  @import url('../src/components/home/special-food-creation.css');

*{
    color:#000000ff;
    box-sizing: border-box;
    font-size: 18px;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
  }  
  
  html, body { height: 100%; }
  body { margin: 0;   margin: 0;  margin: 0;font-family: Raleway, "Helvetica Neue", sans-serif; }

  body h6{
    font-family: Kaushan Script;
    font-size: 24px;
    color: #e11736ff;
    font-weight: 600;
    }

  body a{
    text-decoration: none;    
  }

  body h2{
    font-family: Kaushan Script;
    font-weight: 900;
    font-size: 45px;
    color: #095c91ff;
  }



  @media only screen and (max-width: 950px) {
    .top-banner-slideshow #letTopInSlide,.top-banner-slideshow #rightBottomInSlide{    
    left: 20px;
    right: unset;
    width: 85%;
   }

   .customers-comment .comment-box{
    width: 83%;
   }
   .customers-comment .comment-container {
    flex-direction: column; 
   }

   .client-wrapper{
    flex-direction: column;
   }
.client-wrapper .testimonial-card{  
  width: 95%;
  padding-left: 10px;     
}
.client-wrapper .clients-slides{
  width:100%;
}
}
  




  
  
  
  
  